<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/I514807/LocalDiskC/BITS/DevOps/Assignment/Learn-Selenium/src/test/java/TestGoogle.java">
        <classes>
            <class name="TestGoogle2">
            </class>
        </classes>
    </test>
</suite>